.btn-primary-fill {
  --btn-padding: 0 14px;
  --btn-height: 36px;
  --btn-font-size: 14px;
  --transition-timing-function-standard: cubic-bezier(0.34, 0.69, 0.1, 1);
  --btn-lineHeight: 1.5715;
  --btn-radius: theme(borderRadius.md);
}

.normal-btn {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  outline: none;
  padding: var(--btn-padding);
  height: var(--btn-height);
  font-size: var(--btn-font-size);
  appearance: none;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.2s var(--transition-timing-function-standard);
  box-sizing: border-box;
  line-height: var(--btn-lineHeight);
  border-radius: var(--btn-radius);
}

.btn-primary-fill:disabled {
  background-color: theme('colors.primary.disabled');
  color: #fff;
  border: 1px solid transparent;
  cursor: not-allowed;
}

.btn-primary-fill.normal-btn-loading {
  cursor: default;
}

.btn-primary-fill:not(:disabled) {
  background-color: theme('colors.primary.color');
  color: #fff;
  border: 1px solid transparent;
}

.btn-primary-fill:not(:disabled):not(.normal-btn-loading):hover {
  border-color: transparent;
  color: #fff;
  background-color: theme('colors.primary.hover');
}

.btn-primary-fill:not(.:disabled):not(.normal-btn-loading):active {
  background-color: theme('colors.primary.active');
  color: #fff;
  border: 1px solid transparent;
}

.btn-primary-fill:not(:disabled):focus-visible {
  outline: 2px solid theme('colors.primary.focus');
  outline-offset: 1px;
}
