.eyes1 img {
  animation: rotateEyes 4s infinite linear;
}
.mouth1 {
  animation: wonderFace 2s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes rotateEyes {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes wonderFace {
  0% {
    height: 40px;
  }
  50% {
    height: 80px;
  }
  100% {
    height: 40px;
  }
}
